.footer {
  max-width: 880px;
  width: 100%;
  margin: auto;
}

.footer__copyright {
  max-width: 318px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (min-width: 621px) and (max-width: 910px) {
  .footer {
    max-width: 585px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer {
    max-width: 282px;
    width: 100%;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-top: 36px;
    margin-bottom: 32px;
  }
}
